*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
    


.background{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;
    }

    
.top-bar{
    color: white;
    display: inline-block;
    position: relative;
}

.services .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.services .button .quote {
    border: none;
    text-decoration: none;
    height: 7vh;
    width: 10vw;
    color: white;
    background:#23A6F0;
    border-radius:15px ;
    margin-right: 30px;
    margin-top: 50px;

}
.services .button .learn {
    border: none;
    text-decoration: none;
    height: 7vh;
    width: 10vw;
    border-radius:15px ;
    margin-right: 30px;
    margin-top: 50px;
    background: #21232400;
    color: white;
    border: 1px solid white;
}


.menu-bar{
        text-align: left;
    }
   .menu-bar ul{
        display: inline-flex;
        list-style: none;
    }

    .menu-bar ul li{
        margin: 25px;
        position: relative;
    }

    .menu-bar li {
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: white;
        display: inline-block;

    }

    .membership {
        top: 24px;
        right: 20px;
        position: absolute;
        display: flexbox;
        color: white;}
    
    .membership li{
        padding: 0;
        margin: 0;
        display: inline-block;
        flex-direction: row;
    }

.services{
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    width: 100%;
    margin:-110px;
}
.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;

    
}

.flex-box .calm {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex-box .calm img{

    width: 150px;
}

.flex-box .calm h3{
padding-top: 20px;

}

.flex-box .calm p{ 
  padding-top: 20px;

}

.flex-box .life{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.flex-box .life img{
    width: 150px; 
}

.flex-box .life h3{
    padding-top: 20px; 
}

.flex-box .life p{
    padding-top: 20px; 
}

.flex-box .satisfaction{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}
.flex-box .satisfaction img{
    width: 150px; 
}
.flex-box .satisfaction h3{
    padding-top: 20px; 
}
.flex-box .satisfaction p{
    padding-top: 20px;
}
.peace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;  
}


.peace .mind{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;
}
.peace .mind img{
    width: 150px; 
}
.peace .mind h3{
    padding-top: 20px; 
}
.peace .mind p{
    padding-top: 20px; 
}
.peace .set{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;  
}
.peace .set img{
    width: 150px; 
}
.peace .set h3{
    padding-top: 20px; 
}
.peace .set p{
    padding-top: 20px;
}
.peace .satisfy{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :white;   
}
.peace .satisfy img{
    width: 150px;
}
.peace .satisfy h3{
    padding-top: 20px; 
}
.peace .satisfy p{
    padding-top: 20px;   
}

.factory{
    text-align: center;
    position: relative;
    margin-bottom: 170px;
}
.people{
    display: flex;
  margin-bottom: 200px;   
  flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;  
}
.people .person1{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(199, 189, 189);;
    width: 200px;
    padding: 10px;
    background :white; 
}
.people .person1 img{
    width: 150px; 
}
.people .person1 h4{
    padding-top: 20px;
}
.people .person1 p{
    padding-top: 20px;
}

.people .person2{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(199, 189, 189);;
    width: 200px;
    padding: 10px;
    background :white; 
 
}
.people .person2 img{
    width: 150px;
}
.people .person2 h4{
    padding-top: 20px;  
}
.people .person2 p{
    padding-top: 20px;
}

.people .person3{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(199, 189, 189);;
    width: 200px;
    padding: 10px;
    background :white;  
}
.people .person3 img{
    width: 150px;
}
.people .person3 h4{
    padding-top: 20px;   
}
.people .person3 p{
    padding-top: 20px; 
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}
.bei{
    text-align: center;
    position: relative;
}
.Standards{
    display: flex;
    margin-top: 150px;    
    flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 40vh;
      width: 100%;
}
.Standards .dollar1{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 270px;
    padding: 20px;
    background :white;
    border: solid #23A6F0 2px;
    border: radius 30px;

}
.Standards .h3{
    padding-top: 20px;
}
.Standars .p{
    padding-top: 20px;
}

.Standards .dollar2{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 250px;
    padding: 20px;
    background :white; 
    border: solid #23A6F0 2px;
    border: radius 30px;
     background-color: #252B42;
}
.Standards .h3{
    padding-top: 20px;  
}
.Standards .p{
    padding-top: 20px;
}

.Standards .dollar3{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 270px;
    padding: 20px;
    background :white;
    border: solid #23A6F0 2px;
    border: radius 30px;
}
.Standards .h3{
    padding-top: 20px; 
}
.Standards .p{
    padding-top: 20px;
}
.details{
    text-align: center;
    position: relative;
}
.history{
    background-image: url(./img/pngwing\ 1.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 50vh;
    background-color:#252B42 ; 
}
.history{
    text-align: left;
    position: relative;
    margin-top: 150px;
    color: white;
}

.folio{
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}















