body{
    padding: 0px;
    margin: 0px;

}
    


.background{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;}
    






.menu-bar{
        text-align: left;
    }

    .menu-bar ul{
        display: inline-flex;
        list-style: none;
    }

    .menu-bar ul li{
        margin: 25px;
        position: relative;
    }

    .menu-bar ul li {
        padding: 8px;
        font-size: 20px;

    }

    .membership {
        top: 24px;
        right: 20px;
        position: absolute;
        display: flexbox;
    }

    .membership{
        font-size: 25px;
        margin: 8px;
        padding: 8px;
        border-radius: 10px;
    }

.services{
    text-align: center;
    position: relative;
}