body{
    padding: 0;
    margin: 0;
    
}

.menu-bar{
        text-align: left;
    }

    .menu-bar ul{
        display: inline-flex;
        list-style: none;
    }

    .menu-bar ul li{
        margin: 25px;
        position: relative;
    }

    .menu-bar ul li {
        padding: 8px;
        font-size: 20px;

    }

